<div *ngIf="!previewMode">
  <label for="source">Source: </label>
  <select id="source" [(ngModel)]="datasetSource" (change)="loadDataset(true)">
    <option *ngFor="let preset of presets | keyvalue:onCompare" [value]="preset.key">{{ preset.value.label }}</option>
  </select>
</div>
<br />
<div *ngIf="!loading; else elseBlock">
  <label for="selected_cell_type">Sort By: </label>
  <select id="selected_cell_type" [(ngModel)]="sortBy" (change)="emitSpec()">
    <optgroup label="Tissue Block Attribute">
      <option *ngFor="let label of generalSortLabels" [value]="label">{{ label }}</option>
    </optgroup>
    <optgroup label="Cell Type Count">
      <option *ngFor="let name of cellTypes" [value]="name">{{ name }}</option>
    </optgroup>
  </select>
  &nbsp;
  <select id="order_type" [(ngModel)]="orderType" (change)="emitSpec()">
    <option selected [value]="OrderType.Ascending">Ascending</option>
    <option [value]="OrderType.Descending">Descending</option>
  </select>
  <br /><br />
  <label for="group_by">Group By: </label>
  <select id="group_by" [(ngModel)]="groupBy" (change)="emitSpec()">
    <option *ngFor="let group of groupOptions" [value]="group.key">{{ group.label }}</option>
  </select>
  <br /><br />
  <div>
    <label>Y-Axis: </label>
    <input type="radio" name="yAxisAtrr" id="raw_count" name="yAxisField" value="count" [(ngModel)]="yAxisField"
      (change)="emitSpec()">
    <label for="raw_count">Raw Count</label>
    <input type="radio" name="yAxisAtrr" id="percentage" name="yAxisField" value="percentage" [(ngModel)]="yAxisField"
      (change)="emitSpec()">
    <label for="percentage">Percentage</label>
  </div>
  <div>
    <label>X-Axis: </label>
    <input type="radio" name="xAxisAtrr" id="dataset_name" name="xAxisField" value="dataset_name" [(ngModel)]="xAxisField"
      (change)="emitSpec()">
    <label for="dataset_name">Dataset Name</label>
    <input type="radio" name="xAxisAtrr" id="dataset_id" name="xAxisField" value="dataset_id" [(ngModel)]="xAxisField"
      (change)="emitSpec()">
    <label for="dataset_id">Dataset ID</label>
  </div>
</div>
<ng-template #elseBlock>
  <div><small style="color: gray">Working...</small></div>
</ng-template>