<div id="app">
  <label for="source">Source: </label>
  <select id="source" [(ngModel)]="selectedConfig" (change)="loadDataset()">
    <option *ngFor="let config of configOptions; let i = index" [value]="i">{{ config.label }}</option>
  </select>
  <br /><br />
  <div *ngIf="result">
    <label for="selected_cell_type">Sort By: </label>
    <select id="selected_cell_type" [(ngModel)]="sortBy" (change)="specAndEmbed()">
      <option  *ngFor="let name of cellTypes" [value]="name">{{ name }}</option>
    </select>
    &nbsp;
    <select id="order_type" [(ngModel)]="orderType" (change)="specAndEmbed()">
      <option selected [value]="OrderType.Ascending">Ascending</option>
      <option [value]="OrderType.Descending">Descending</option>
    </select>
    <br /><br />
    <label for="group_by">Group By: </label>
    <select id="group_by" [(ngModel)]="groupBy" (change)="specAndEmbed()">
      <option  *ngFor="let group of groupOptions" [value]="group.value">{{ group.name }}</option>
    </select>
    <br /><br />
    <div>
      <label>Y-Axis: </label>
      <input type="radio" name="yAxisAtrr" id="raw_count" name="yAxisAttr" value="count" [(ngModel)]="yAxisAttr" (change)="specAndEmbed()">
      <label for="raw_count">Raw Count</label>
      <input type="radio" name="yAxisAtrr" id="percentage" name="yAxisAttr" value="percentage" [(ngModel)]="yAxisAttr" (change)="specAndEmbed()">
      <label for="percentage">Percentage</label>
    </div>
  </div>
  <div *ngElse><small style="color: gray">Working...</small></div>
  <div id="vis"></div>
</div>
