html, body {
  margin: 0;
  padding: 0;
  min-width: fit-content;
}

body {
  background-color: rgba(250,250,250,1);
  font-family: 'Inter', sans-serif;
}

.main, .main-header, .main-footer {
  box-sizing: border-box;
}

.main {
  display: block;
  width: fit-content;
  margin-top: 1.5rem;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  background-color: rgba(255,255,255,1);
  line-height: 1.5rem;
  color: #212121;
}

.main h1, .main h2, .main h3 {
  line-height: 1.25em;
}

.main h1 {
  margin-top: 0;
  text-align: center;
}

.main-header {
  position: sticky;
  padding: 0rem 2rem;
  height: 4rem;
  background-color: rgba(68, 76, 101, 1);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.main-header .header-content {
  height: 64px;
  min-width: 680px;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 0;
}

.main-header .main-logo .logo {
  margin-left: 1rem;
  height: 24px;
}

.main-header .related-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin: 0 1rem;
}

.main-header .related-links a:hover {
  text-decoration: underline;
}

.main-footer {
  padding: 0rem 2rem;
  margin: auto;
}

.main-footer p {
  width: fit-content;
  margin: 1rem auto;
}

@media screen and (min-width: 640px) {
  .main {
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 960px) {
  .main {
    padding: 4rem;
  }
}

@media screen and (min-width: 1142px) {
  .main-header .main-logo .logo {
    margin-left: 0;
  }
}
